body {
  background: linear-gradient(90deg, #1100ff 0%, rgb(100, 151, 245) 100%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-form {
  background-color: whitesmoke;
  padding: 2vh 2vw;
  border-radius: 10px;
}

.todo-input {
  border-radius: 8px;
  border: 0;
  padding: 1vh 1vw;
  font-size: 1.5vh;
}

.todo-button {
  margin-left: 1vw;
  border: 0;
  padding: 1vh 1vw;
  border-radius: 8px;
  background: linear-gradient(90deg, #0025fa 0%, #ce08ff 100%);
  color: white;
  font-weight: bolder;
}

.complete {
  opacity: 50%;
  text-decoration: line-through;
}

.todo-rows-list {
  margin-top: 5vh;
  padding: 2vh 1vw;
  background-color: whitesmoke;
  border-radius: 8px;
  max-width: 50vw;
}

.todo-row {
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(98, 0, 255);
}

.todo-row:nth-child(even) {
  background-color: #ce08ff;
}

.todo-icons {
  width: 20%;
}
.todo-text {
  width: 80%;
  text-align: left;
  color: white;
}